.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-box {
  background-color: #0884c0;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
}

.home-box h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.home-box p {
  color: #555;
  margin-bottom: 25px;
  font-size: 16px;
}